@using Microsoft.AspNetCore.Http;
@using Infraestructure.StatusSistema;

@inject IHttpContextAccessor httpContext;

@{
    var nivelAcesso = 0;
    try
    {
        nivelAcesso = (int)httpContext.HttpContext.Session.GetInt32(Session.Autorizacao);
    }
    catch
    {
        httpContext.HttpContext.Response.Redirect("../Usuario");
    }
}
@model IEnumerable<FichaViewModel>

<div style="text-align:center; padding-top:5%;">
    <h2>Fichas médicas</h2>
    <hr />
</div>
<table class="table table-bordered">
    <thead>
        <tr style="background-color:#f6f6f6">
            @{
                if (nivelAcesso > 1)
                {
                    <th>Ficha ID</th>
                    <th>Nome do paciente</th>
                }
                else
                {
                    <th>Nome do médico</th>
                }
            }
            <th>Descrição</th>
            <th>Data de inclusão</th>
            <th>Última alteração</th>
            @{
                if (nivelAcesso > 1)
                {
                    <th>Ações</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @{
            if(Model != null)
            { 
                var fichaList = Model.ToList();

                for (int i = 0; i < fichaList.Count(); i++)
                {
                    <tr>
                        @{
                                if (nivelAcesso > 1)
                                {
                                    <td>@fichaList[i].Id</td>
                                    <td>@fichaList[i].NomePaciente</td>
                                }
                                else
                                {
                                    <td>@fichaList[i].NomeMedico</td>
                                }
                                <td>@fichaList[i].Descricao</td>
                                <td>@fichaList[i].DataCriacao</td>
                                <td>@fichaList[i].DataAlteracao</td>
                                if (nivelAcesso > 1)
                                {
                                    var json = @Html.Raw(Json.Serialize(fichaList[i])).ToString();
                                    <td>
                                        <form asp-controller="Ficha" method="post">
                                            &nbsp;
                                            <input type="submit" style="width: auto; margin-left:8%;" asp-action="Alterar"
                                                   asp-route-json="@json" class="btn btn-secondary btn-sm" value="Alterar" />
                                            &nbsp;
                                            <input type="submit" style="width: auto; margin-left: 8%;" asp-action="GetFicha"
                                                   asp-route-json="@json" class="btn btn-secondary btn-sm" value="Detalhes" />
                                            &nbsp;
                                            <input type="submit" style="width: auto; margin-left: 8%;" asp-action="Deletar"
                                                   asp-route-id="@fichaList[i].Id" class="btn btn-secondary btn-sm" value="Deletar" />
                                        </form>
                                    </td>
                                }
                }
                    </tr>
            }
                          }
        }
    </tbody>
</table>
<br />
@{
    @if (nivelAcesso > 1)
    {
        <form asp-controller="Ficha" method="post">
        &nbsp;
        <input type="submit" style="width:auto;" asp-action="Cadastrar" asp-route-id="0"
        method="post" class="btn btn-secondary btn-sm" value="Nova Ficha" />
        </form>
    }
}
<div style="padding-top:40%;"></div>